<!DOCTYPE html>
<html>
<head>
    <title>Medical Store</title>
</head>
<body>

<h1>Medical Products</h1>

<div id="products"></div>

<script>
fetch('/api/products/')
.then(res => res.json())
.then(data => {
    let html = '';
    data.forEach(product => {
        html += `
            <div>
                <img src="/media/${product.image}" width="100">
                <h3>${product.name}</h3>
                <p>${product.description}</p>
                <p>Price: ${product.price}</p>
                <button onclick="addToCart(${product.id})">
                     Add to Cart
                </button>
                <hr>
            </div>
        `;
    });
    document.getElementById('products').innerHTML = html;
});

function addToCart(id) {
  fetch('/api/cart/add/', {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({
      product_id: id,
      quantity: 1
    })
  })
  .then(res => res.json())
  .then(data => alert(data.message));
}
</script>

</body>
</html>